body {
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

h1 {
    color: #000;
    font-size: 32px;
    font-weight: bold;

}

p {
    font-size: 16px;

}

.main-text {
    color: burlywood;
}