.bordered-p {
  /* border: 2px solid black; */
  border-width: 4px;
  border-style: dotted solid dashed inset;
  border-color: black;
  /* border-top-style: solid;
  border-bottom-style: dotted;
  border-left-style: dashed;
  border-right-style: outset; */
  width: 300px;
  height: 200px;
}
.rounded-p {
  display: inline;
  height: 200px;
  width: 100px;
  border: 3px solid black;
  border-radius: 10px 5px;
}
.circle {
  display: inline-block;
  background-color: burlywood;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
